:host {
  .container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;


    .card-container{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 16px;
      height:auto;
      width: 1500px;
      overflow: auto;

      .card{
        width: 500px;
        border-radius: 10px;
      }
    }
  }
}
